
.all-reviews-container {
    display: flex;
    font-family: 'Libre Basketville', serif;   
  flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.review-card {
    width: 80%; 
    margin-left: 10px;
    border: 1px solid #c4c3c3;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.review-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.review-card-image {
  
    height: auto;
}

.review-card-header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.review-card-title {
    font-size: 20px;
    font-family: 'Libre Basketville', serif;   
    font-weight: bold;
}

.review-card-author {
    font-size: 16px; 
    color: #888;

}

.review-card-rating {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.review-card-rating.dark-mode{
    color: #fff;
}

.review-card-review {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.review-card-review.dark-mode{
    color: #fff;
}
.review-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.review-card-edit-button,
.review-card-delete-button{
    background-color: #2A9D8F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.review-card-edit-button.dark-mode,
.review-card-delete-button.dark-mode{
    background-color: #a688fa;
    color: #fff;
}

.review-card-edit-button:hover,
.review-card-delete-button:hover{
    background-color: #21867a;
}
.review-card-edit-button.dark-mode:hover,
.review-card-delete-button.dark-mode:hover{
    background-color: #7b5fda;
}