.reviewed-books-header,
.review-books-header {
    display:flex;
    flex-direction: row;
    margin-top: 30px;
      text-decoration: none;
      color: #000; /* Set the default color for links */
      padding-left: 10px;
      padding-right: 10px;
      font-size:22px;
      font-weight: bolder;
      font-family: 'Libre Basketville', serif;    
  }