.search-book-container{
    max-width: 450px;
    /* margin: 0 auto; */
    margin-top: 60px;
    margin-left: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Libre Basketville',serif;
}
.search-book-input{
    width: 100%;
  padding: 10px;
  margin-bottom: 12px;
 margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.search-book-input.dark-mode{
    background-color: #4b4a4a;
    color: #fff;

}

.search-book-button {
  background-color: #2A9D8F;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  max-height: 40px;
}
.search-book-button.dark-mode{
  background-color: #a688fa;
    color: #fff;
}
    
.search-book-button:hover {
    background-color: #228075;
    }

.search-book-button.dark-mode:hover {
  background-color: #7b5fda;
}