.profile-card-container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #ECE4B7;
    font-family: 'Libre Basketville',serif;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profile-card-container.dark-mode{
    background-color: #4b4a4a;
}
.profile-buttons-container{
    display: flex;
    flex-direction: row;
    
}
.profile-header{
    text-align: center;
    font-family: 'Libre Basketville',serif;
}
.profile-header.dark-mode{
    background-color: #4b4a4a; 
}
.change-password-container,
.update-profile-container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #ECE4B7;
    font-family: 'Libre Basketville',serif;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.change-password-container.dark-mode,
.update-profile-container.dark-mode{
    background-color: #4b4a4a;
}
.update-profile-header.dark-mode{
    background-color: #4b4a4a;
}

.update-profile-label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.update-profile-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    padding-right: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.update-profile-button,
.profile-button {
    background-color: #2A9D8F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .profile-button.dark-mode,
  .update-profile-button.dark-mode{
    background-color: #a688fa;
    color: #fff;
  }
  
  /* Registration Button Hover Effect */
  .update-profile-button:hover,
  .profile-button:hover {
    background-color: #228075;
  }
  .profile-button.dark-mode:hover,
    .update-profile-button.dark-mode:hover{
        background-color: #7d5fff;
    }
 