.Layout nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Spacing between all links */
  padding: 0.5rem;
  background-color: #E1E5F2;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Libre Basketville', serif;
}

/* Styles for individual list items */
.Layout nav ul li {
  margin-right: 20px; /* Add spacing between the links */
}

.Layout nav ul li:last-child {
  margin-right: 0; /* Remove spacing from the last link */
}

/* Set default link color to black */
.Layout nav ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Change link color to white on hover */
.Layout nav ul a:hover {
  color: white;
}

/* Style for active link */
.Layout nav ul a.active {
  color: white; /* You can apply any other styles for active links here */
}

/* Right-align the last two links */
.Layout nav ul li.right-align {
  margin-left: auto;
}



nav .menu{
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 2rem;
}
nav .menu span{
  height: 0.4rem;
  width: 100%;
  background-color: rgb(3, 0, 0);
  border-radius: 0.2rem;
}





/* Media query for smaller screens */
@media (max-width: 768px) {
 
nav .menu{
  display: flex;
  cursor: pointer;
} 
.Layout nav ul{
  padding: 1.3rem;
}

nav ul.open{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.8rem; 
}
nav ul li {
  display:none;
  width: 100%;
  text-align: center;
}
nav ul.open li{
  display: flex;
  flex-direction: column;
  
}

nav ul li a {
  margin: 0.2rem 0.5rem;
}
  
}