.Layout nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Spacing between all links */
  padding: 0.5rem;
  background-color: #5F5449;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Libre Basketville', serif;
}

/* Styles for individual list items */
.Layout nav ul li {
  margin-right: 20px; /* Add spacing between the links */
}

.Layout nav ul li:last-child {
  margin-right: 0; /* Remove spacing from the last link */
}

/* Set default link color to black */
.Layout nav ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Change link color to white on hover */
.Layout nav ul a:hover {
  color: white;
}

/* Style for active link */
.Layout nav ul a.active {
  color: white; /* You can apply any other styles for active links here */
}

/* Right-align the last two links */
.Layout nav ul li.right-align {
  margin-left: auto;
}



nav .menu{
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 2rem;
}
nav .menu span{
  height: 0.4rem;
  width: 100%;
  background-color: rgb(3, 0, 0);
  border-radius: 0.2rem;
}





/* Media query for smaller screens */
@media (max-width: 768px) {
 
nav .menu{
  display: flex;
  cursor: pointer;
} 
.Layout nav ul{
  padding: 1.3rem;
}

nav ul.open{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.8rem; 
}
nav ul li {
  display:none;
  width: 100%;
  text-align: center;
}
nav ul.open li{
  display: flex;
  flex-direction: column;
  
}

nav ul li a {
  margin: 0.2rem 0.5rem;
}
  
}
.dark-mode-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode-button:hover {
  background-color: #555;
}

.Layout nav ul.dark-mode {
  background-color: #333;
  color: #fff;
}

.Layout nav ul li.dark-mode {
  color: #fff;
}

.Layout nav ul a.dark-mode {
  color: #fff;
}

.Layout nav ul a:hover.dark-mode {
  color: #aaa;
}

.Layout nav.dark-mode ul {
  background-color: #4b4a4a;
  color: #fff;
}

.Layout nav.dark-mode ul li {
  color: #fff;
}

.Layout nav.dark-mode ul a {
  color: #fff;
}

.Layout nav.dark-mode ul a:hover {
  color: #aaa;
}

.Layout nav.dark-mode ul a.active {
  color: #aaa;
}

nav .menu.dark-mode {
  background-color: #333;
}

nav .menu.dark-mode span {
  background-color: #fff;
}

@media (max-width: 768px) {
  nav .menu.dark-mode {
    background-color: #333;
  }

  .Layout nav.dark-mode ul {
    background-color: #333;
  }

  nav.dark-mode ul li {
    color: #fff;
  }

  nav.dark-mode ul li a {
    color: #fff;
  }
}

.dark-mode-button.dark-mode {
  background-color: #555;
}

.dark-mode-button:hover.dark-mode {
  background-color: #666;
}

  nav ul li a.dark-mode {
    color: #fff;
  }


.dark-mode-button.dark-mode {
  background-color: #555;
}

.dark-mode-button:hover.dark-mode {
  background-color: #666;
}