.Layout nav ul.link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Spacing between all links */
  padding: 0.5rem;
  background-color: #E1E5F2;
  font-size: 1.5rem;
  font-family: 'Libre Basketville',serif;
}

.Layout nav ul.link-list li {
  margin-right: 20px; /* Add spacing between the links */
}

.Layout nav ul.link-list li:last-child {
  margin-right: 0; /* Remove spacing from the last link */
}

/* Set default link color to black */
.Layout nav ul.link-list a {
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Change link color to white on hover */
.Layout nav ul.link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #C7D3DD;
  font-size: 1.5rem;
  font-weight: bold;
}

.Layout nav ul.link-list li {
  margin-right: 20px; /* Add spacing between the links */
}

.Layout nav ul.link-list li:last-child {
  margin-right: 0; /* Remove spacing from the last link */
}

/* Set default link color to black */
.Layout nav ul.link-list a {
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Change link color to white on hover */
.Layout nav ul.link-list a:hover {
  color: white;
}

/* Style for active link */
.Layout nav ul.link-list a.active {
  font-weight: bold; /* You can apply any other styles for active links here */
}

/* Right-align the last two links */
.Layout nav ul.link-list li.right-align {
  margin-left: auto;
}